In [ ]:
https://bit.ly/HDSC-StageTwoAssessment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
import os
os.chdir(r'C:\Users\user\Downloads\UDEMY\datasets\hamoye 2')
train=pd.read_csv('energydata_complete___appliances_energy_prediction_data_set_.csv')

In [2]:
train.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
train = train.drop(['date','lights'],axis=1)

In [4]:
from sklearn.preprocessing import MinMaxScaler
train[train.dtypes.index.to_list()] = MinMaxScaler().fit_transform(train[train.dtypes.index.to_list()])

In [5]:
train.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [6]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [7]:
prediction=train['Appliances']
del(train['Appliances'])

In [8]:
#question1

x=np.array(train['T2']).reshape(-1,1)
y=np.array(train['T6']).reshape(-1,1)
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)
hmodel = LinearRegression()
hmodel.fit(X_train,y_train)
pred = hmodel.predict(X_test)
score = r2_score(pred,y_test)
print(score)

0.4447218070299238

In [9]:
X_train,X_test,y_train,y_test = train_test_split(train,prediction,test_size=0.3,random_state=42)

In [10]:
model_lin=LinearRegression()
model_lin.fit(X_train,y_train)
predicted=model_lin.predict(X_test)

MAE_score 0.05013362397742957
MSE_score 0.00765877886719537
r2_score -4.4118937472949025
RMSE_score 0.08751444947661711
RSS 45.34762967266382

In [11]:
#question 13
print('MAE_score',mean_absolute_error(predicted,y_test))

MAE_score 0.05013362397742957

In [12]:
#question 14
print('RSS',sum((predicted-y_test)**2))

RSS 45.34762967266382

In [13]:
#question 15
print('RMSE_score',np.sqrt(mean_squared_error(predicted,y_test)))

RMSE_score 0.08751444947661711

In [14]:
#question 16
print('r2_score',r2_score(predicted,y_test))

r2_score -4.4118937472949025

In [15]:
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [16]:
#question 17
linear_model_weights = get_weights_df(model_lin,X_train,'Linear')
linear_model_weights

       Features    Linear
0          RH_2 -0.456698
1         T_out -0.321860
2            T2 -0.236178
3            T9 -0.189941
4          RH_8 -0.157595
5        RH_out -0.077671
6          RH_7 -0.044614
7          RH_9 -0.039800
8            T5 -0.015657
9            T1 -0.003281
10          rv1  0.000770
11          rv2  0.000770
12  Press_mm_hg  0.006839
13           T7  0.010319
14   Visibility  0.012307
15         RH_5  0.016006
16         RH_4  0.026386
17           T4  0.028981
18    Windspeed  0.029183
19         RH_6  0.038049
20         RH_3  0.096048
21           T8  0.101995
22    Tdewpoint  0.117758
23           T6  0.236425
24           T3  0.290627
25         RH_1  0.553547

In [17]:
#question 18
model_rid=Ridge(alpha=0.4)
model_rid.fit(X_train,y_train)
predicted=model_rid.predict(X_test)
print('RMSE_score',np.sqrt(mean_squared_error(predicted,y_test)))

RMSE_score 0.08753385704628003

In [18]:
#question 19
model_las=Lasso(alpha=0.001)
model_las.fit(X_train,y_train)
predicted=model_las.predict(X_test)
lasso_weights_df = get_weights_df(model_las,X_train,'Lasso')
lasso_weights_df

       Features     Lasso
0        RH_out -0.049557
1          RH_8 -0.000110
2            T1  0.000000
3     Tdewpoint  0.000000
4    Visibility  0.000000
5   Press_mm_hg -0.000000
6         T_out  0.000000
7          RH_9 -0.000000
8            T9 -0.000000
9            T8  0.000000
10         RH_7 -0.000000
11          rv1 -0.000000
12           T7 -0.000000
13           T6  0.000000
14         RH_5  0.000000
15           T5 -0.000000
16         RH_4  0.000000
17           T4 -0.000000
18         RH_3  0.000000
19           T3  0.000000
20         RH_2 -0.000000
21           T2  0.000000
22         RH_6 -0.000000
23          rv2 -0.000000
24    Windspeed  0.002912
25         RH_1  0.017880

In [19]:
#question 20
print('RMSE_score',np.sqrt(mean_squared_error(predicted,y_test)))

RMSE_score 0.09358170467245137